* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  min-width: 400px;
}

/*------TOP LEFT/RIGHT NAVIGATION-----*/
ul {
  list-style-type: none;
  margin-top: 10px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #202124;
  padding: 10px;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: black;
}

/*----- RIGHT NAVIGATION BUTTON-----*/

.signButt {
  background: #1a73e8;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 9px 23px;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  min-width: 96px;
}

a.signButt {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a.signButt:hover {
  background: #4285f4;
}

/*----- GOOGLE LOGO -----*/

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: 272px;
  height: 92px;
}

.toolbar-image {
  min-width: auto;
  margin-top: 200px;
}

/*----- SEARCH BAR -----*/

input {
  width: 584px;
  border-radius: 24px;
  height: 44px;
  border: none;
}

.sbar {
  border: 1px solid #dfe1e5;
  padding-left: 50px;
  padding-right: 50px;
}

.sbar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.3);
  border-color: rgba(223, 225, 229, 0);
}

.sbar:focus {
  outline: none;
}

form {
  padding-top: 1%;
}

/*----- SEARCH ICON -----*/

.fa-search {
  position: relative;
  left: 40px;
  color: #9aa0a6;
  font-size: 13px;
}

/*----- MIC ICON -----*/

.google-mic {
  position: relative;
  right: 40px;
  top: 5px;
}

/*----- TWO TABS -----*/

.button {
  width: 350px;
}

/* ----- MEDIA QUERIES -----*/

@media screen and (max-width: 630px) {
  .sbari {
    min-width: 630px;
  }
}
