* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  min-width: 400px;
}

/*------TOP LEFT/RIGHT NAVIGATION-----*/
ul {
  list-style-type: none;
  margin-top: 10px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #202124;
  padding: 10px;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: black;
}

/*----- RIGHT NAVIGATION BUTTON-----*/

.signButt {
  background: #1a73e8;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 9px 23px;
  border: 1px solid #1a73e8;
  border-radius: 4px;
  min-width: 96px;
}

a.signButt {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a.signButt:hover {
  background: #4285f4;
}

/*----- GOOGLE LOGO -----*/

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: 272px;
  height: 92px;
}

.toolbar-image {
  min-width: auto;
  margin-top: 200px;
}

/*----- SEARCH BAR -----*/

input {
  width: 584px;
  border-radius: 24px;
  height: 44px;
  border: none;
  margin-top: 5px;
}

.sbar {
  border: 1px solid #dfe1e5;
  padding-left: 50px;
  padding-right: 50px;
}

.sbar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.3);
  border-color: rgba(223, 225, 229, 0);
}

.sbar:focus {
  outline: none;
}

form {
  padding-top: 1%;
}

/*----- SEARCH ICON -----*/

.fa-search {
  position: relative;
  left: 40px;
  color: #9aa0a6;
  font-size: 13px;
}

/*----- MIC ICON -----*/

.google-mic {
  position: relative;
  right: 40px;
  top: 5px;
}

/*----- TWO BUTTONS -----*/

.sb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.button {
  width: 135px;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  height: 36px;
}

.button:hover {
  border: 1px solid #c8cacc;
}

/* ----- LANG ----- */
.goog-lang {
  color: #3c4043;
  text-align: center;
  font-size: small;
  margin-top: 20px;
}

/* ----- Bottom Navigation ----- */

/* ----- Canada Navbar ----- */

.navbar2 {
  background-color: #f2f2f2;
  overflow: hidden;
  position: fixed;
  bottom: 43px;
  line-height: 40px;
  color: #70757a;
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
}

.navbar2 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  cursor: default;
  padding-left: 15px;
}

/* ----- Navbar Under Canada Navbar ----- */

.navbar.bot {
  background-color: #f2f2f2;
  color: #70757a;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 30px;
}

.navbar.bot a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  padding-left: 15px;
  padding-right: 20px;
}

.navbar.bot a:hover {
  text-decoration: underline;
}

/* ----- MEDIA QUERIES -----*/

@media screen and (max-width: 630px) {
  .sbari {
    min-width: 630px;
  }
}
